@charset "UTF-8";

/*
    Paleta de corres
    laranja #ff7944
    marrom #964728    
*/

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #964728;
    height: 100vh;
    width: 100vw;    
}

main{
    position: relative;
    width: 100vw;
    height: 100vh;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.336);

    transition: width 0.1s, height 0.1s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: #964728 url(../imagens/pexels-modus-vivendi-32084570.jpg);
    height: 200px;
    background-size: cover;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}